<p-button (click)="newIncome()" label="Novo" icon="pi pi-plus"></p-button>
<p-table
  [value]="incomesData"
  [tableStyle]="{ 'min-width': '50rem' }"
  [loading]="loading"
  [rowHover]="true"
>
  <ng-template #header>
    <tr>
      <th>Nome</th>
      <th>Valor</th>
      <th>Data</th>
      <th pFrozenColumn></th>
    </tr>
  </ng-template>
  <ng-template #body let-income>
    <tr>
      <td>{{ income.name }}</td>
      <td>{{ income.value }}</td>
      <td>{{ formatGridDate(income.incomeDate) }}</td>
      <td
        pFrozenColumn
        style="display: flex; flex-direction: row-reverse; gap: 10px"
      >
        <p-button
          icon="pi pi-trash"
          severity="danger"
          [rounded]="true"
          [outlined]="true"
          (click)="deleteIncome(income)"
        />
        <p-button
          icon="pi pi-pencil"
          class="mr-2"
          [rounded]="true"
          [outlined]="true"
          (click)="editIncome(income)"
        />
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Renda"
  [(visible)]="incomeFormVisible"
  [modal]="true"
  [style]="{ width: '50vw' }"
>
  <p-panel class="form-panel" [formGroup]="formGroup">
    <div style="display: flex; flex-direction: column; gap: 2px">
      <label for="name">Nome</label>
      <input
        id="name"
        type="text"
        pInputText
        formControlName="name"
        class="{{
          formGroup.get('name')?.dirty && formGroup.get('name')?.invalid
            ? 'ng-dirty'
            : ''
        }}"
      />
      <small
        id="name"
        class="error"
        *ngIf="formGroup.get('name')?.dirty && formGroup.get('name')?.invalid"
        >Este campo é obrigatório</small
      >
    </div>
    <div style="display: flex; flex-direction: column; gap: 2px">
      <label for="value">Valor</label>
      <p-inputnumber
        id="value"
        mode="decimal"
        [minFractionDigits]="2"
        locale="pt-BR"
        formControlName="value"
        class="{{
          formGroup.get('value')?.dirty && formGroup.get('value')?.invalid
            ? 'ng-dirty'
            : ''
        }}"
      />
      <small
        id="limit"
        class="error"
        *ngIf="formGroup.get('value')?.dirty && formGroup.get('value')?.invalid"
        >Este campo é obrigatório</small
      >
    </div>
    <div style="display: flex; flex-direction: column; gap: 2px">
      <label for="incomeDate">Data</label>
      <p-datepicker
        id="incomeDate"
        formControlName="incomeDate"
        [showIcon]="true"
        [iconDisplay]="'input'"
        dateFormat="dd/mm/yy"
        class="{{
          formGroup.get('incomeDate')?.dirty &&
          formGroup.get('incomeDate')?.invalid
            ? 'ng-dirty'
            : ''
        }}"
      />
      <small
        id="incomeDate"
        class="error"
        *ngIf="
          formGroup.get('incomeDate')?.dirty &&
          formGroup.get('incomeDate')?.invalid
        "
        >Este campo é obrigatório</small
      >
    </div>
  </p-panel>
  <ng-template pTemplate="footer">
    <button
      pButton
      severity="success"
      label="Salvar"
      (click)="saveIncome()"
    ></button>
    <button
      pButton
      severity="danger"
      label="Excluir"
      [disabled]="formGroup.get('id')?.value === null"
      (click)="deleteIncome(this.formGroup.getRawValue())"
    ></button>
  </ng-template>
</p-dialog>
