<ep-table
  [displayHeader]="false"
  [columns]="columns"
  [data]="incomesData"
  [loading]="loading"
  (editRegister)="editIncome($event)"
  (deleteRegister)="deleteIncome($event)"
  ></ep-table>

<p-dialog
  header="Renda"
  [(visible)]="incomeFormVisible"
  [modal]="true"
  [style]="{ width: '50vw' }"
>
  <p-panel class="form-panel" [formGroup]="formGroup">
    <div style="display: flex; flex-direction: column; gap: 2px">
      <label for="name">Nome</label>
      <input
        id="name"
        type="text"
        pInputText
        formControlName="name"
        class="{{
          formGroup.get('name')?.dirty && formGroup.get('name')?.invalid
            ? 'ng-dirty'
            : ''
        }}"
      />
      <small
        id="name"
        class="error"
        *ngIf="formGroup.get('name')?.dirty && formGroup.get('name')?.invalid"
        >Este campo é obrigatório</small
      >
    </div>
    <div style="display: flex; flex-direction: column; gap: 2px">
      <label for="value">Valor</label>
      <p-inputnumber
        id="value"
        mode="decimal"
        [minFractionDigits]="2"
        locale="pt-BR"
        formControlName="value"
        class="{{
          formGroup.get('value')?.dirty && formGroup.get('value')?.invalid
            ? 'ng-dirty'
            : ''
        }}"
      />
      <small
        id="limit"
        class="error"
        *ngIf="formGroup.get('value')?.dirty && formGroup.get('value')?.invalid"
        >Este campo é obrigatório</small
      >
    </div>
    <div style="display: flex; flex-direction: column; gap: 2px">
      <label for="incomeDate">Data</label>
      <p-datepicker
        id="incomeDate"
        formControlName="incomeDate"
        [showIcon]="true"
        [iconDisplay]="'input'"
        dateFormat="dd/mm/yy"
        class="{{
          formGroup.get('incomeDate')?.dirty &&
          formGroup.get('incomeDate')?.invalid
            ? 'ng-dirty'
            : ''
        }}"
      />
      <small
        id="incomeDate"
        class="error"
        *ngIf="
          formGroup.get('incomeDate')?.dirty &&
          formGroup.get('incomeDate')?.invalid
        "
        >Este campo é obrigatório</small
      >
    </div>
  </p-panel>
  <ng-template pTemplate="footer">
    <button
      pButton
      severity="success"
      label="Salvar"
      (click)="saveIncome()"
      [loading]="loading"
    ></button>
    <button
      pButton
      severity="danger"
      label="Excluir"
      [disabled]="formGroup.get('id')?.value === null"
      (click)="deleteIncome(this.formGroup.getRawValue())"
    ></button>
  </ng-template>
</p-dialog>
