<ep-table
  title="Cartões"
  [columns]="columns"
  [data]="data"
  [loading]="loading"
  (newRegister)="newCard()"
  (editRegister)="editCard($event)"
  (deleteRegister)="deleteCard($event)"
  ></ep-table>

<p-dialog
  header="Cartão"
  [(visible)]="formVisible"
  [modal]="true"
  [style]="{ width: '50vw' }"
>
  <p-panel class="form-panel" [formGroup]="formGroup">
    <div style="display: flex; flex-direction: column; gap: 2px">
      <label for="bank">Banco</label>
      <p-select
        id="bank"
        formControlName="bank"
        [options]="banks"
        placeholder="Selecione um banco"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        emptyMessage="Nenhum banco encontrado"
        emptyFilterMessage="Nenhum banco encontrado"
        class="{{
          formGroup.get('bank')?.dirty && formGroup.get('bank')?.invalid
            ? 'ng-dirty'
            : ''
        }}"
      ></p-select>
      <small
        id="bank"
        class="error"
        *ngIf="formGroup.get('bank')?.dirty && formGroup.get('bank')?.invalid"
        >Este campo é obrigatório</small
      >
    </div>
    <div style="display: flex; flex-direction: column; gap: 2px">
      <label for="limit">Limite</label>
      <p-inputnumber
        id="limit"
        mode="decimal"
        [minFractionDigits]="2"
        locale="pt-BR"
        formControlName="limit"
        class="{{
          formGroup.get('limit')?.dirty && formGroup.get('limit')?.invalid
            ? 'ng-dirty'
            : ''
        }}"
      />
      <small
        id="limit"
        class="error"
        *ngIf="formGroup.get('limit')?.dirty && formGroup.get('limit')?.invalid"
        >Este campo é obrigatório</small
      >
    </div>
    <div style="display: flex; flex-direction: column; gap: 2px">
      <label for="closingDay">Dia de fechamento</label>
      <p-inputnumber
        id="closingDay"
        locale="pt-BR"
        formControlName="closingDay"
        class="{{
          formGroup.get('closingDay')?.dirty &&
          formGroup.get('closingDay')?.invalid
            ? 'ng-dirty'
            : ''
        }}"
      />
      <small
        id="closingDay"
        class="error"
        *ngIf="
          formGroup.get('closingDay')?.dirty &&
          formGroup.get('closingDay')?.invalid
        "
        >Este campo é obrigatório</small
      >
    </div>
  </p-panel>
  <ng-template pTemplate="footer">
    <button
      pButton
      severity="success"
      label="Salvar"
      (click)="saveCard()"
      [loading]="loading"
    ></button>
    <button
      pButton
      severity="danger"
      label="Excluir"
      [disabled]="formGroup.get('id')?.value === null"
      (click)="deleteCard(this.formGroup.getRawValue())"
    ></button>
  </ng-template>
</p-dialog>
