<body class="container">
  <div class="main-container">
    <div class="welcome-container">
      <h1>Welcome to Expense Tracker.</h1>
      <div class="highlight"></div>
      <h2>MORE THAN JUST YOUR PERSONALIZED EXPENSE TRACKER</h2>
      <p>it is your ally in the pursuit of financial organization.</p>

      <div class="bars">
        <div class="first-bar"></div>
        <div class="second-bar"></div>
      </div>
    </div>
  </div>
  <div class="form-container">
    <div class="form">
      <div class="header">
        <h1>Login to your account.</h1>
        <div class="line"></div>
      </div>
      <div class="fields">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-user" />
          <input pInputText type="text" placeholder="Email" />
        </p-iconfield>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-lock" />
          <input pInputText type="password" placeholder="Password" />
        </p-iconfield>
        <div class="checkbox">
          <p-checkbox value="false" inputId="remeber" />
          <label for="remeber" class="ml-2">Remeber me</label>
        </div>
        <p-button
          label="Login"
          class="p-button-raised p-button-rounded p-button-text"
        ></p-button>
        <a>Forgot your password?</a>
      </div>
      <div class="footer">
        <p>New here?</p>
        <a>Sign Up</a>
      </div>
    </div>
  </div>
</body>
