<p-panel header="Banco">
  <p-button (click)="newBank()" label="Novo" icon="pi pi-plus"></p-button>
  <p-table
    [value]="data"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    [lazy]="true"
    (onLazyLoad)="getBank($event)"
    [loading]="loading"
    [rowHover]="true"
  >
    <ng-template #header>
      <tr>
        <th>Nome</th>
        <th>Saldo</th>
        <th pFrozenColumn></th>
      </tr>
    </ng-template>
    <ng-template #body let-bank>
      <tr>
        <td>{{ bank.name }}</td>
        <td>{{ bank.balance }}</td>
        <td
          pFrozenColumn
          style="display: flex; flex-direction: row-reverse; gap: 10px"
        >
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteBank(bank)"
          />
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            (click)="editBank(bank)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>

<p-dialog
  header="Banco"
  [(visible)]="formVisible"
  [modal]="true"
  [style]="{ width: '50vw' }"
>
  <p-panel class="form-panel" [formGroup]="formGroup">
    <div style="display: flex; flex-direction: column; gap: 2px">
      <label for="name">Nome</label>
      <input
        id="name"
        type="text"
        pInputText
        formControlName="name"
        class="{{
          formGroup.get('name')?.dirty && formGroup.get('name')?.invalid
            ? 'ng-dirty'
            : ''
        }}"
      />
      <small
        id="name"
        class="error"
        *ngIf="formGroup.get('name')?.dirty && formGroup.get('name')?.invalid"
        >Este campo é obrigatório</small
      >
    </div>
    <div style="display: flex; flex-direction: column; gap: 2px">
      <label for="balance">Saldo</label>
      <p-inputnumber
        id="balance"
        mode="decimal"
        [minFractionDigits]="2"
        locale="pt-BR"
        formControlName="balance"
        class="{{ formGroup.get('balance')?.invalid ? 'ng-dirty' : '' }}"
      />
      <small
        id="balance"
        class="error"
        *ngIf="
          formGroup.get('balance')?.dirty &&
          formGroup.get('balance')?.hasError('required')
        "
        >Este campo é obrigatório</small
      >
    </div>
  </p-panel>
  <ng-template pTemplate="footer">
    <button
      pButton
      severity="success"
      label="Salvar"
      (click)="saveBank()"
      [loading]="loading"
    ></button>
    <button
      pButton
      severity="danger"
      label="Excluir"
      [disabled]="formGroup.get('id')?.value === null"
      (click)="deleteBank(this.formGroup.getRawValue())"
    ></button>
  </ng-template>
</p-dialog>
