<div class="form">
  <div class="header">
    <h1>Forgot your password?</h1>
    <div class="line"></div>
  </div>
  <div class="fields">
    <p-iconfield>
      <p-inputicon styleClass="pi pi-lock" />
      <input pInputText type="text" placeholder="E-mail" />
    </p-iconfield>
    <p-button
      label="Send verification code"
      class="p-button-raised p-button-rounded p-button-text"
    ></p-button>
  </div>
  <div class="footer">
    <a (click)="goBack()">Return to login</a>
  </div>
</div>
