<body class="container">
  <div class="month-select"></div>
  <div class="main-container">
    <div class="side-container-1">
      <div class="resume">
        <p-card header="Saldo total"></p-card>
        <p-card header="Renda mensal"></p-card>
        <p-card header="Despesas mensais"></p-card>
      </div>
      <div class="table">
        <p-panel class="resume-table" header="Resumo"></p-panel>
      </div>
    </div>
    <div class="side-container-2">
      <div class="card">
        <p-panel header="Cartões"></p-panel>
      </div>
      <div class="chart">
        <p-panel header="Gráfico"></p-panel>
      </div>
    </div>
  </div>
</body>
