<body class="container">
  <div class="month-select">
    <p-button
      icon="pi pi-chevron-left"
      [rounded]="true"
      [outlined]="true"
      (click)="previousMonth()"
    />
    <p>{{ formatDate(currentDate) }}</p>
    <p-button
      icon="pi pi-chevron-right"
      [rounded]="true"
      [outlined]="true"
      (click)="nextMonth()"
    />
  </div>
  <div class="main-container">
    <div class="side-container-1">
      <div class="resume">
        <p-card header="Renda mensal">
          <p>{{ resumeData?.monthlyIncome }}</p>
        </p-card>
        <p-card header="Despesas mensais">
          <p>{{ resumeData?.monthlyExpenses }}</p>
        </p-card>
        <p-card header="Saldo total">
          <p>{{ resumeData?.totalBalance }}</p>
        </p-card>
      </div>
      <div class="table">
        <p-panel class="resume-table" header="Resumo">
          <p-tabs [value]="0">
            <p-tablist>
              <p-tab [value]="0">Gastos</p-tab>
              <p-tab [value]="1">Renda</p-tab>
            </p-tablist>
            <p-tabpanels>
              <p-tabpanel [value]="0">
                <ex-expense
                  #exExpense
                  [currentDate]="currentDate"
                  (reloadResume)="getResume()"
                  (updateChart)="setChart($event)"
                ></ex-expense>
              </p-tabpanel>
              <p-tabpanel [value]="1">
                <ex-income
                  #exIncome
                  [currentDate]="currentDate"
                  (reloadResume)="getResume()"
                ></ex-income>
              </p-tabpanel>
            </p-tabpanels>
          </p-tabs>
        </p-panel>
      </div>
    </div>
    <div class="side-container-2">
      <div class="card">
        <p-panel header="Cartões"></p-panel>
      </div>
      <div class="chart">
        <p-panel header="Gráfico">
          <p-chart
            type="pie"
            [data]="chartData"
            [options]="chartOptions"
          ></p-chart>
        </p-panel>
      </div>
    </div>
  </div>
</body>
