<ep-table
  title="Categorias"
  [columns]="columns"
  [data]="data"
  [loading]="loading"
  (newRegister)="newCategory()"
  (editRegister)="editCategory($event)"
  (deleteRegister)="deleteCategory($event)"
  ></ep-table>

<p-dialog
  header="Categoria"
  [(visible)]="formVisible"
  [modal]="true"
  [style]="{ width: '50vw' }"
>
  <p-panel class="form-panel" [formGroup]="formGroup">
    <div style="display: flex; flex-direction: column; gap: 2px">
      <label for="name">Nome</label>
      <input
        id="name"
        type="text"
        pInputText
        formControlName="name"
        class="{{
          formGroup.get('name')?.dirty && formGroup.get('name')?.invalid
            ? 'ng-dirty'
            : ''
        }}"
      />
      <small
        id="name"
        class="error"
        *ngIf="formGroup.get('name')?.dirty && formGroup.get('name')?.invalid"
        >Este campo é obrigatório</small
      >
    </div>
    <div style="display: flex; flex-direction: column; gap: 2px">
      <label for="color">Cor</label>
      <p-colorpicker id="color" formControlName="color" />
      <!-- <small id="name">Enter your username to reset your password.</small> -->
    </div>
    <div style="display: flex; flex-direction: column; gap: 6px">
      <label for="fixedExpense">Gasto fixo</label>
      <p-toggleswitch id="fixedExpense" formControlName="fixedExpense" />
    </div>
  </p-panel>
  <ng-template pTemplate="footer">
    <button
      pButton
      severity="success"
      label="Salvar"
      (click)="saveCategory()"
      [loading]="loading"
    ></button>
    <button
      pButton
      severity="danger"
      label="Excluir"
      [disabled]="formGroup.get('id')?.value === null"
      (click)="deleteCategory(this.formGroup.getRawValue())"
    ></button>
  </ng-template>
</p-dialog>
