<div class="container-button">
  <button class="hamburger" (click)="toggleMenu()">&#9776;</button>
</div>
<nav class="navbar" [ngClass]="{ closed: isClosed }">
  <div class="header">
    <button class="close" (click)="toggleMenu()">&#10005;</button>
    <img src="assets/logo.png" alt="logo" />
    <p>Expense Tracker</p>
  </div>
  <div class="body">
    <div class="menu"><p>Menu</p></div>

    <div class="routers">
      <button (click)="goTo('/dashboard')" label="Dashboard" pButton></button>
      <button (click)="goTo('/bank')" label="Bancos" pButton></button>
      <button (click)="goTo('/card')" label="Cartões" pButton></button>
      <button (click)="goTo('/category')" label="Categorias" pButton></button>
      <button
        (click)="goTo('/configuration')"
        label="Configurações"
        pButton
      ></button>
    </div>
    <div class="logout">
      <button (click)="logout()" label="Sair" pButton></button>
    </div>
  </div>
  <div class="footer">
    <p>By Jeriel Starosky, 2025.</p>
  </div>
</nav>
