<nav class="navbar">
  <div class="header">
    <img src="assets/logo.png" alt="logo" />
    <p>Expense Tracker</p>
  </div>
  <div class="body">
    <div class="menu"><p>Menu</p></div>

    <div class="routers">
      <button (click)="goTo('/dashboard')" label="Dashboard" pButton></button>
      <button (click)="goTo('/card')" label="Cards" pButton></button>
      <button (click)="goTo('/category')" label="Categories" pButton></button>
      <button
        (click)="goTo('/configuration')"
        label="Configurations"
        pButton
      ></button>
    </div>
    <div class="logout">
      <button (click)="logout()" label="Logout" pButton></button>
    </div>
  </div>
  <div class="footer">
    <p>By Jeriel Starosky, 2025.</p>
  </div>
</nav>
