<p-panel [showHeader]="displayHeader" [header]="title">
  <p-button *ngIf="displayHeader" (click)="newRegister.emit()" label="Novo" icon="pi pi-plus"></p-button>
  <p-table
    [value]="data"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowHover]="true"
    [columns]="columns"
  >
    <ng-template #header>
      <tr>
        @for (column of columns; track column.header) {
          <th>{{ column.header }}</th>
        }
        <th pFrozenColumn></th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        @for (column of columns; track column.field) {
          <td *ngIf="!column.type">{{ getFieldValue(item, column.field) }}</td>
          <td *ngIf="column.type === 'date'">
            {{ item[column.field] | date: 'dd/MM/yyyy' }}
          </td>
          <td *ngIf="column.type === 'currency'">
            {{ item[column.field] | currency: 'BRL' }}
          </td>
          <td *ngIf="column.type === 'boolean'">
            {{ getFieldValue(item, column.field) ? 'Sim' : 'Não' }}
          </td>
          <td *ngIf="column.type === 'color'">
            <p-tag
              [style]="{
                background: getFieldValue(item, column.field),
                width: '20px',
                height: '20px'
              }"
            ></p-tag>
          </td>
        }
        <td
          pFrozenColumn
          style="display: flex; flex-direction: row-reverse; gap: 10px"
        >
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteRegister.emit(item)"
          />
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            (click)="editRegister.emit(item)"
          />
        </td>
      </tr>
    </ng-template>
     <ng-template #expandedrow let-expense>
      <tr>
        <td colspan="10">
          <div>
            <p-table
              [value]="expense.installmentsRegisters"
              dataKey="id"
              sortField="installmentNumber"
              [sortOrder]="1"
              [scrollable]="true"
              [scrollHeight]="'250px'"
            >
              <ng-template #header>
                <tr>
                  @for (column of expandedColumns; track column.header) {
                  <th>{{ column.header }}</th>
                  }
                </tr>
              </ng-template>
              <ng-template #body let-item>
                <tr [ngStyle]="getRowStyle(item)">
                  @for (column of columns; track column.field) {
                    <td *ngIf="!column.type">{{ getFieldValue(item, column.field) }}</td>
                    <td *ngIf="column.type === 'date'">
                      {{ item[column.field] | date: 'dd/MM/yyyy' }}
                    </td>
                    <td *ngIf="column.type === 'currency'">
                      {{ item[column.field] | currency: 'BRL' }}
                    </td>
                    <td *ngIf="column.type === 'boolean'">
                      {{ getFieldValue(item, column.field) ? 'Sim' : 'Não' }}
                    </td>
                    <td *ngIf="column.type === 'color'">
                      <p-tag
                        [style]="{
                          background: getFieldValue(item, column.field),
                          width: '20px',
                          height: '20px'
                        }"
                      ></p-tag>
                    </td>
                  }
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>